html, body {
  font-family; tahoma, serif;
    }

#container {
  background-image: url('https://assets.fastcompany.com/image/upload/w_596,c_limit,q_auto:best,f_auto,fl_lossy/fc/1670989-inline-sshutterstock-27267760.jpg');
  background-size: cover;
  width: 800px;
  margin: 60px;
  padding: 20px;
}

#content-author {
  font-family: tahoma, serif;
}
  
