html, body {
  font-family; tahoma, serif;
  background-image: url('dew-drops-on-grass-photography-hd-wallpaper-2560x1600-2529.jpg');
    }

#container {
  width: 800px;
  margin: 60px;
}

#content-author {
  font-family: tahoma, serif;
}
  
