html, body {
  font-family; tahoma, serif;
  background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwii2JOrh4rXAhWo7YMKHWDrB6UQjBwIBA&url=http%3A%2F%2Fstatic.hdw.eweb4.com%2Fmedia%2Fwallpapers_2560x1600%2Fphotography%2F1%2F1%2Fdew-drops-on-grass-photography-hd-wallpaper-2560x1600-2529.jpg&psig=AOvVaw27808nxIKFIcLH8V5E1S2s&ust=1508961863554948");
    background-position: center;
    background-size: cover;
    }

#container {
  width: 800px;
  margin: 60px;
}

#content-author {
  font-family: tahoma, serif;
}
  
